.meme-preview > h1{
    position: relative;
}

.meme-preview {
    position: relative;
    width: 95%;
    margin-left: auto;
}

.meme-preview  > img {
    width: 40%;
}

.meme-preview > .text {
    position: absolute;
    text-align: center;
    width: 40%;
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 48px;
    font-size: 3vw;
    letter-spacing: 1px;
}

.meme-preview > .top {
    top: 0;
}

.meme-preview > .bottom {
    bottom: 0;
}

.meme-preview  > .white {
    color: white;
}

.meme-preview  > .black{
    color: black;
}

@media only screen and (max-width: 600px){
    .meme-preview  > img {
        width: 100%;
    }

    .meme-preview > .text {
        position: absolute;
        text-align: center;
        width: 40%;
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: 30px;
        letter-spacing: 1px;
    }
    
}